Repository arthur-melo/just-another-todo-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc.json -w, eslint --config .eslintrc.json --fix, stylelint --config .stylelintrc.json --fix

.lintstagedrc.json:

{
  "*.json": "prettier --config .prettierrc.json -w",
  "*.js": [
    "prettier --config .prettierrc.json -w",
    "eslint --config .eslintrc.json --fix"
  ],
  "*.css": "stylelint --config .stylelintrc.json --fix"
}

fix: metatag typo (#905)
  public/index.html
Due: none

refactor: updated actions to use latest/lts node
  .github/workflows/coverage.yml
Due: none

refactor: updated actions to use latest/lts node (#907)
  .github/workflows/coverage.yml
Due: none

build: added script for running tests on commit
  .husky/pre-commit
  package.json
Due: prettier --config .prettierrc.json -w

build: added script for running tests on commit (#908)
  .husky/pre-commit
  package.json
Due: prettier --config .prettierrc.json -w

Added missing eventlistener mock, required by react-textarea-autosize
  src/setupTests.js
Due: prettier --config .prettierrc.json -w, eslint --config .eslintrc.json --fix

updated snapshots
  src/app/__snapshots__/App.test.js.snap
  src/components/Layout/Header/__snapshots__/Header.test.js.snap
  src/components/Layout/__snapshots__/Layout.test.js.snap
Due: none

updated snapshots
  src/app/__snapshots__/App.test.js.snap
  src/features/todos/TodoList/__snapshots__/TodoList.test.js.snap
Due: none

Added missing prettier dependency
  package-lock.json
  package.json
Due: prettier --config .prettierrc.json -w

ci(codecov): fix codecov-action version
  .github/workflows/coverage.yml
Due: none

ci(codecov): fix codecov-action version (#1028)
  .github/workflows/coverage.yml
Due: none

fix: legacy-peer-deps installation while @hello-pangea/dnd is not updated
  package-lock.json
Due: prettier --config .prettierrc.json -w

ci: legacy peer deps added for GA
  .github/workflows/coverage.yml
Due: none

Updated husky and snapshots
  .husky/pre-commit
  package-lock.json
  package.json
  src/app/__snapshots__/App.test.js.snap
  src/components/Layout/Header/__snapshots__/Header.test.js.snap
  src/components/Layout/__snapshots__/Layout.test.js.snap
  src/features/todos/CheckoutTodoItem/__snapshots__/CheckoutTodoItem.test.js.snap
  src/features/todos/WelcomeCardCTA/__snapshots__/WelcomeCardCTA.test.js.snap
Due: prettier --config .prettierrc.json -w

Added missing test dependency and updated husky cli params
  .husky/pre-commit
  package-lock.json
  package.json
Due: prettier --config .prettierrc.json -w

Added missing dependency
  package-lock.json
  package.json
Due: prettier --config .prettierrc.json -w

Updated tests definitions to match react-testing-library
  package-lock.json
  package.json
  src/app/__snapshots__/App.test.jsx.snap
  src/components/Layout/Footer/Footer.test.jsx
  src/components/Layout/Footer/__snapshots__/Footer.test.jsx.snap
  src/components/Layout/Header/Header.test.jsx
  src/components/Layout/Header/__snapshots__/Header.test.jsx.snap
  src/components/Layout/Layout.test.jsx
  src/components/Layout/__snapshots__/Layout.test.jsx.snap
  src/components/LocalStorage/LocalStorage.test.jsx
  src/features/todos/CheckoutTodoItem/CheckoutTodoItem.test.jsx
  src/features/todos/CheckoutTodoItem/__snapshots__/CheckoutTodoItem.test.jsx.snap
  src/features/todos/TodoList/__snapshots__/TodoList.test.jsx.snap
  src/hooks/useLocalStorage.jsx
  vite.config.js
  vitest-setup.js
Due: prettier --config .prettierrc.json -w, eslint --config .eslintrc.json --fix

updated snapshots
  src/app/__snapshots__/App.test.jsx.snap
  src/components/Layout/Header/__snapshots__/Header.test.jsx.snap
  src/components/Layout/__snapshots__/Layout.test.jsx.snap
  src/features/todos/CheckoutTodoItem/__snapshots__/CheckoutTodoItem.test.jsx.snap
  src/features/todos/TodoList/__snapshots__/TodoList.test.jsx.snap
  src/features/todos/WelcomeCardCTA/__snapshots__/WelcomeCardCTA.test.jsx.snap
Due: none

fix conflicts
  package-lock.json
  src/app/__snapshots__/App.test.jsx.snap
  src/features/todos/TodoList/__snapshots__/TodoList.test.jsx.snap
Due: prettier --config .prettierrc.json -w

updated deps
  package-lock.json
  package.json
  src/app/__snapshots__/App.test.jsx.snap
  src/components/Layout/Header/__snapshots__/Header.test.jsx.snap
  src/components/Layout/__snapshots__/Layout.test.jsx.snap
  src/features/todos/CheckoutTodoItem/__snapshots__/CheckoutTodoItem.test.jsx.snap
  src/features/todos/TodoList/__snapshots__/TodoList.test.jsx.snap
  src/features/todos/WelcomeCardCTA/__snapshots__/WelcomeCardCTA.test.jsx.snap
Due: prettier --config .prettierrc.json -w

updated deps (#1403)
  package-lock.json
  package.json
  src/app/__snapshots__/App.test.jsx.snap
  src/components/Layout/Header/__snapshots__/Header.test.jsx.snap
  src/components/Layout/__snapshots__/Layout.test.jsx.snap
  src/features/todos/CheckoutTodoItem/__snapshots__/CheckoutTodoItem.test.jsx.snap
  src/features/todos/TodoList/__snapshots__/TodoList.test.jsx.snap
  src/features/todos/WelcomeCardCTA/__snapshots__/WelcomeCardCTA.test.jsx.snap
Due: prettier --config .prettierrc.json -w
