Repository arthur-melo/just-another-todo-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc.json -w, eslint --config .eslintrc.json --fix, stylelint --config .stylelintrc.json --fix

Updated service worker to latest CRA
  src/index.js
  src/registerServiceWorker.js
  src/service-worker.js
  src/serviceWorkerRegistration.js
Due: prettier --config .prettierrc.json -w, eslint --config .eslintrc.json --fix

Lint
  src/service-worker.js
  src/serviceWorkerRegistration.js
Due: prettier --config .prettierrc.json -w, eslint --config .eslintrc.json --fix

Updated rules
  .eslintignore
Due: none

Added codecov github action
  .github/workflows/coverage.yml
Due: none

Updated codecov (#892)
  .eslintignore
  .github/workflows/coverage.yml
Due: none

Updated coverage directory
  .github/workflows/coverage.yml
Due: none

Added files declaration
  .github/workflows/coverage.yml
Due: none

Removed checkout duplicate action
  .github/workflows/coverage.yml
Due: none

Typo fix
  .github/workflows/coverage.yml
Due: none

Updated badges
  README.md
Due: none

Updated coverage directory (#895)
  .github/workflows/coverage.yml
  README.md
Due: none

Updated UI
  package-lock.json
  package.json
  src/app/__snapshots__/App.test.js.snap
  src/components/Layout/Footer/Footer.js
  src/components/Layout/Footer/__snapshots__/Footer.test.js.snap
  src/components/Layout/__snapshots__/Layout.test.js.snap
  src/features/todos/CheckoutTodoItem/CheckoutTodoItem.js
  src/features/todos/CheckoutTodoItem/__snapshots__/CheckoutTodoItem.test.js.snap
  src/features/todos/CreateTodoItem/CreateTodoItem.css
  src/features/todos/CreateTodoItem/CreateTodoItem.js
  src/features/todos/EditTodoItem/EditTodoItem.css
  src/features/todos/EditTodoItem/EditTodoItem.js
  src/features/todos/EditTodoItem/EditTodoItem.test.js
  src/features/todos/PropertyBarTodoItem/PropertyBarTodoItem.css
  src/features/todos/PropertyBarTodoItem/PropertyBarTodoItem.js
  src/features/todos/TodoItem/TodoItem.css
  src/features/todos/TodoItem/TodoItem.js
  src/features/todos/TodoList/__snapshots__/TodoList.test.js.snap
  src/features/todos/WelcomeCardCTA/WelcomeCardCTA.js
  src/features/todos/WelcomeCardCTA/__snapshots__/WelcomeCardCTA.test.js.snap
Due: prettier --config .prettierrc.json -w, eslint --config .eslintrc.json --fix, stylelint --config .stylelintrc.json --fix

Updated UI (#896)
  package-lock.json
  package.json
  src/app/__snapshots__/App.test.js.snap
  src/components/Layout/Footer/Footer.js
  src/components/Layout/Footer/__snapshots__/Footer.test.js.snap
  src/components/Layout/__snapshots__/Layout.test.js.snap
  src/features/todos/CheckoutTodoItem/CheckoutTodoItem.js
  src/features/todos/CheckoutTodoItem/__snapshots__/CheckoutTodoItem.test.js.snap
  src/features/todos/CreateTodoItem/CreateTodoItem.css
  src/features/todos/CreateTodoItem/CreateTodoItem.js
  src/features/todos/EditTodoItem/EditTodoItem.css
  src/features/todos/EditTodoItem/EditTodoItem.js
  src/features/todos/EditTodoItem/EditTodoItem.test.js
  src/features/todos/PropertyBarTodoItem/PropertyBarTodoItem.css
  src/features/todos/PropertyBarTodoItem/PropertyBarTodoItem.js
  src/features/todos/TodoItem/TodoItem.css
  src/features/todos/TodoItem/TodoItem.js
  src/features/todos/TodoList/__snapshots__/TodoList.test.js.snap
  src/features/todos/WelcomeCardCTA/WelcomeCardCTA.js
  src/features/todos/WelcomeCardCTA/__snapshots__/WelcomeCardCTA.test.js.snap
Due: prettier --config .prettierrc.json -w, eslint --config .eslintrc.json --fix, stylelint --config .stylelintrc.json --fix

UI Refactor
  public/index.html
  src/app/__snapshots__/App.test.js.snap
  src/components/Layout/Footer/Footer.css
  src/components/Layout/Footer/Footer.js
  src/components/Layout/Footer/__snapshots__/Footer.test.js.snap
  src/components/Layout/__snapshots__/Layout.test.js.snap
  src/features/todos/CreateTodoItem/CreateTodoItem.js
  src/features/todos/EditTodoItem/EditTodoItem.js
Due: prettier --config .prettierrc.json -w, eslint --config .eslintrc.json --fix, stylelint --config .stylelintrc.json --fix

Updated readme
  README.md
Due: none

UI Refactoring (#897)
  README.md
  public/index.html
  src/app/__snapshots__/App.test.js.snap
  src/components/Layout/Footer/Footer.css
  src/components/Layout/Footer/Footer.js
  src/components/Layout/Footer/__snapshots__/Footer.test.js.snap
  src/components/Layout/__snapshots__/Layout.test.js.snap
  src/features/todos/CreateTodoItem/CreateTodoItem.js
  src/features/todos/EditTodoItem/EditTodoItem.js
Due: prettier --config .prettierrc.json -w, eslint --config .eslintrc.json --fix, stylelint --config .stylelintrc.json --fix

refactor: updated edit item cursor behavior
  src/features/todos/EditTodoItem/EditTodoItem.js
Due: prettier --config .prettierrc.json -w, eslint --config .eslintrc.json --fix

Added bootstrap theme hook
  src/components/Layout/Header/Header.js
  src/hooks/useTheme.js
Due: prettier --config .prettierrc.json -w, eslint --config .eslintrc.json --fix

UI Refactor
  src/components/Layout/Footer/Footer.css
  src/components/Layout/Footer/Footer.js
  src/components/Layout/Header/Header.css
  src/components/Layout/Layout.css
  src/features/todos/CheckoutTodoItem/CheckoutTodoItem.js
  src/features/todos/CreateTodoItem/CreateTodoItem.css
  src/features/todos/CreateTodoItem/CreateTodoItem.js
  src/features/todos/EditTodoItem/EditTodoItem.css
  src/features/todos/TodoItem/TodoItem.css
  src/features/todos/TodoItem/TodoItem.js
  src/features/todos/TodoList/TodoList.css
  src/features/todos/TodoList/TodoList.js
  src/stylesheets/index.css
Due: prettier --config .prettierrc.json -w, eslint --config .eslintrc.json --fix, stylelint --config .stylelintrc.json --fix

Updated snapshots
  src/app/__snapshots__/App.test.js.snap
  src/components/Layout/Footer/__snapshots__/Footer.test.js.snap
  src/components/Layout/__snapshots__/Layout.test.js.snap
  src/features/todos/CheckoutTodoItem/__snapshots__/CheckoutTodoItem.test.js.snap
  src/features/todos/TodoList/__snapshots__/TodoList.test.js.snap
  src/features/todos/WelcomeCardCTA/__snapshots__/WelcomeCardCTA.test.js.snap
Due: none

[refactor] updated project description
  README.md
Due: none

UI Refactoring (#898)
  README.md
  src/app/__snapshots__/App.test.js.snap
  src/components/Layout/Footer/Footer.css
  src/components/Layout/Footer/Footer.js
  src/components/Layout/Footer/__snapshots__/Footer.test.js.snap
  src/components/Layout/Header/Header.css
  src/components/Layout/Header/Header.js
  src/components/Layout/Layout.css
  src/components/Layout/__snapshots__/Layout.test.js.snap
  src/features/todos/CheckoutTodoItem/CheckoutTodoItem.js
  src/features/todos/CheckoutTodoItem/__snapshots__/CheckoutTodoItem.test.js.snap
  src/features/todos/CreateTodoItem/CreateTodoItem.css
  src/features/todos/CreateTodoItem/CreateTodoItem.js
  src/features/todos/EditTodoItem/EditTodoItem.css
  src/features/todos/EditTodoItem/EditTodoItem.js
  src/features/todos/TodoItem/TodoItem.css
  src/features/todos/TodoItem/TodoItem.js
  src/features/todos/TodoList/TodoList.css
  src/features/todos/TodoList/TodoList.js
  src/features/todos/TodoList/__snapshots__/TodoList.test.js.snap
  src/features/todos/WelcomeCardCTA/__snapshots__/WelcomeCardCTA.test.js.snap
  src/hooks/useTheme.js
  src/stylesheets/index.css
Due: prettier --config .prettierrc.json -w, eslint --config .eslintrc.json --fix, stylelint --config .stylelintrc.json --fix

refactor: PWA/favicon/metadata
  public/browserconfig.xml
  public/favicon.ico
  public/index.html
  public/manifest.json
  public/static/icons/android-chrome-192x192.png
  public/static/icons/android-chrome-512x512.png
  public/static/icons/apple-touch-icon.png
  public/static/icons/favicon-16x16.png
  public/static/icons/favicon-32x32.png
  public/static/icons/favicon.ico
  public/static/icons/icon-128x128.png
  public/static/icons/icon-144x144.png
  public/static/icons/icon-152x152.png
  public/static/icons/icon-192x192.png
  public/static/icons/icon-256x256.png
  public/static/icons/icon-384x384.png
  public/static/icons/icon-512x512.png
  public/static/icons/icon-72x72.png
  public/static/icons/icon-96x96.png
  public/static/icons/safari-pinned-tab.svg
Due: prettier --config .prettierrc.json -w

refactor: PWA/favicon/metadata (#899)
  public/browserconfig.xml
  public/favicon.ico
  public/index.html
  public/manifest.json
  public/static/icons/android-chrome-192x192.png
  public/static/icons/android-chrome-512x512.png
  public/static/icons/apple-touch-icon.png
  public/static/icons/favicon-16x16.png
  public/static/icons/favicon-32x32.png
  public/static/icons/favicon.ico
  public/static/icons/icon-128x128.png
  public/static/icons/icon-144x144.png
  public/static/icons/icon-152x152.png
  public/static/icons/icon-192x192.png
  public/static/icons/icon-256x256.png
  public/static/icons/icon-384x384.png
  public/static/icons/icon-512x512.png
  public/static/icons/icon-72x72.png
  public/static/icons/icon-96x96.png
  public/static/icons/safari-pinned-tab.svg
Due: prettier --config .prettierrc.json -w

fix: apple and desktop favicon
  public/apple-touch-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/index.html
  public/safari-pinned-tab.svg
Due: none

fix: updated references for icons on apple/windows
  public/browserconfig.xml
  public/index.html
  public/mstile-150x150.png
Due: none

fix: updated references for icons on apple/windows (#900)
  public/browserconfig.xml
  public/index.html
  public/mstile-150x150.png
Due: none

fix: missing file for windows app
  public/browserconfig.xml
Due: none

fix: missing icon for safari pwa
  public/apple-touch-icon-precomposed.png
Due: none

fix: missing favicon files/config (#901)
  public/apple-touch-icon-precomposed.png
  public/browserconfig.xml
Due: none

refactor: removed unecessary css/files
  package-lock.json
  package.json
  src/app/__snapshots__/App.test.js.snap
  src/assets/fonts/LICENSE.txt
  src/assets/fonts/Roboto-Bold.ttf
  src/assets/fonts/Roboto-Regular.ttf
  src/components/Layout/Footer/Footer.css
  src/components/Layout/Footer/Footer.js
  src/components/Layout/Footer/__snapshots__/Footer.test.js.snap
  src/components/Layout/Header/Header.css
  src/components/Layout/Header/Header.js
  src/components/Layout/Header/__snapshots__/Header.test.js.snap
  src/components/Layout/Layout.css
  src/components/Layout/Layout.js
  src/components/Layout/__snapshots__/Layout.test.js.snap
  src/features/todos/CreateTodoItem/CreateTodoItem.css
  src/features/todos/CreateTodoItem/CreateTodoItem.js
  src/features/todos/EditTodoItem/EditTodoItem.css
  src/features/todos/EditTodoItem/EditTodoItem.js
  src/features/todos/PropertyBarTodoItem/PropertyBarTodoItem.css
  src/features/todos/PropertyBarTodoItem/PropertyBarTodoItem.js
  src/features/todos/TodoItem/TodoItem.css
  src/features/todos/TodoItem/TodoItem.js
  src/features/todos/TodoList/__snapshots__/TodoList.test.js.snap
  src/features/todos/WelcomeCardCTA/__snapshots__/WelcomeCardCTA.test.js.snap
  src/stylesheets/index.css
Due: prettier --config .prettierrc.json -w, eslint --config .eslintrc.json --fix, stylelint --config .stylelintrc.json --fix

refactor: removed unecessary css/files (#902)
  package-lock.json
  package.json
  src/app/__snapshots__/App.test.js.snap
  src/assets/fonts/LICENSE.txt
  src/assets/fonts/Roboto-Bold.ttf
  src/assets/fonts/Roboto-Regular.ttf
  src/components/Layout/Footer/Footer.css
  src/components/Layout/Footer/Footer.js
  src/components/Layout/Footer/__snapshots__/Footer.test.js.snap
  src/components/Layout/Header/Header.css
  src/components/Layout/Header/Header.js
  src/components/Layout/Header/__snapshots__/Header.test.js.snap
  src/components/Layout/Layout.css
  src/components/Layout/Layout.js
  src/components/Layout/__snapshots__/Layout.test.js.snap
  src/features/todos/CreateTodoItem/CreateTodoItem.css
  src/features/todos/CreateTodoItem/CreateTodoItem.js
  src/features/todos/EditTodoItem/EditTodoItem.css
  src/features/todos/EditTodoItem/EditTodoItem.js
  src/features/todos/PropertyBarTodoItem/PropertyBarTodoItem.css
  src/features/todos/PropertyBarTodoItem/PropertyBarTodoItem.js
  src/features/todos/TodoItem/TodoItem.css
  src/features/todos/TodoItem/TodoItem.js
  src/features/todos/TodoList/__snapshots__/TodoList.test.js.snap
  src/features/todos/WelcomeCardCTA/__snapshots__/WelcomeCardCTA.test.js.snap
  src/stylesheets/index.css
Due: prettier --config .prettierrc.json -w, eslint --config .eslintrc.json --fix, stylelint --config .stylelintrc.json --fix

fix: changed manifest to display app in fullscreen
  public/manifest.json
Due: prettier --config .prettierrc.json -w

refactor: changed windows 10 app install color
  public/browserconfig.xml
  public/index.html
Due: none

refactor: manifest settings (#903)
  public/browserconfig.xml
  public/index.html
  public/manifest.json
Due: prettier --config .prettierrc.json -w

refactor: changed footer copy
  src/components/Layout/Footer/Footer.js
Due: prettier --config .prettierrc.json -w, eslint --config .eslintrc.json --fix

fix: Updated snapshots
  src/app/__snapshots__/App.test.js.snap
  src/components/Layout/Footer/__snapshots__/Footer.test.js.snap
  src/components/Layout/__snapshots__/Layout.test.js.snap
Due: none

refactor: changed footer copy (#904)
  src/app/__snapshots__/App.test.js.snap
  src/components/Layout/Footer/Footer.js
  src/components/Layout/Footer/__snapshots__/Footer.test.js.snap
  src/components/Layout/__snapshots__/Layout.test.js.snap
Due: prettier --config .prettierrc.json -w, eslint --config .eslintrc.json --fix

fix: metatag typo
  public/index.html
Due: none

Path conditions:
  prettier --config .prettierrc.json -w: (any of: *.json) or (any of: *.js)
  eslint --config .eslintrc.json --fix: any of: *.js
  stylelint --config .stylelintrc.json --fix: any of: *.css
